@import "../../app.scss";

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h3 {
    font-size: 30px;

    @include mobile {
      font-size: 72px;
      text-align: center;
    }
  }
  .paragraphContainer {
    margin-bottom: 11%;;
    max-width: 800px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
  }

  .paragraphContainer p{
    padding: 5px;
  }


  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .planets {
    background-color: transparent;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .stars {
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
